<div class="px-2 py-2 bg-light border-bottom mb-2 fixed">
  <div class="row">
    <div class="col"></div>
    <div class="col-3">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Search String..."
          [(ngModel)]="searchTerm"
          name="searchTerm"
          #searchItem
          (input)="applyFilter(searchItem.value)"
        />
      </div>
    </div>
    <div class="col-1">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="highlightAction">
          <option selected value="None">None</option>
          <option value="even">Even</option>
          <option value="odd">Odd</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="px-2 py-2" style="margin-top: 3.3cm">
  <div class="container-fluid border rounded">
    <table class="table">
      <thead>
        <tr class="">
          <th scope="col">Id</th>
          <th scope="col">To Do Title</th>
          <th scope="col">Assign Date</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let ToDoDetail of ToDoDetails
              | paginate: { itemsPerPage: 10, currentPage: p };
            let even = even;
            let odd = odd;
            let i = index
          "
          [class.rowHighlight]="
            (odd && highlightAction == 'even') ||
            (even && highlightAction == 'odd')
          "
        >
          <th scope="row">{{ ToDoDetail.id }}</th>
          <td>{{ ToDoDetail.todo }}</td>
          <td>{{ ToDoDetail.assignDate | date: "dd-MM-yyyy HH:mm a" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="d-flex justify-content-end">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
